/* 定义变量 */
@baseColor:#e92322;

/* 头部快样式 */
.wjs_header {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	.row {
		height: 100%;
		text-align: center;
		> div:nth-of-type(-n+3) {
			border-right: 1px solid #ccc;
			> .wjs_code {
				vertical-align: middle;
				position: relative;
				display: block;
				img {
					display: none;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: 49px;
					border: 1px solid #ccc;
					border-top: none;
					z-index: 999;
				}
				&:hover {
					img {
						display: block;
					}
				}
			}
		}
		> div:nth-last-of-type(1) {
			.btn-danger {
				border-color: @baseColor;
				background-color: @baseColor;
			}
			.btn {
				padding: 3px 15px;
			}
			.btn-link {
				color: #333;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/* 导航栏样式 */
.wjs_nav {
	&.navbar {
		margin-bottom: 0px;
	}
	.navbar-brand {
		height: 80px;
		line-height: 50px;
		.wjs_icon {
			font-size: 40px;
		}
		span:first-of-type {
			color: @baseColor;
		}
		span:last-of-type {
			color: #333;
		}
	}
	/* 修改导航项的样式 */
	.navbar-nav {
		> li {
			> a {
				line-height: 50px;
				font-size: 16px;
			}
			a:hover, a:focus {
				color: #777;
				background-color: transparent;
				border-bottom: 3px solid @baseColor;
			}
		}
		.active {
			a, a:hover, a:focus {
				background-color: transparent;
				border-bottom: 3px solid @baseColor;
			}
		}
	}
	/* 移动端手风琴居中 */
	.navbar-toggle {
		margin-top: 23px;
	}
}

/* 轮播图样式 */
.wjs_banner {
	.pcImg {
    width: 100%;
    height: 410px;
    display: block;
    /* 设置背景图片 */
    /* 设置图片居中显示 */
    background-position: center center;
    /* 设置背景图片的大小 */
    -webkit-background-size: cover;
    background-size: cover;
  }
  .mobileImg {
    width: 100%;
    display: block;
  }
  .mobileImg img {
    width: 100%;
    display: block;
  }
}

/* 信息快样式 */
.wjs_info {
	padding: 30px;
	.wjs_icon {
		font-size: 30px;
	}
	.row {
		> div {
			margin-top: 20px;
			> a:hover {
				color: @baseColor;
			}
			> a:focus {
				color: @baseColor;
				text-decoration: none;
			}
		}
	}
}

/* 预约块样式 */
.wjs_reverse {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	.wjs_icon {
		font-size: 18px;
	}
	.reverse_now {
		color: @baseColor;
		border-bottom: 1px dashed @baseColor;
	}
	a:hover {
		color: @baseColor;
	}
}

/* 产品块样式 */
.wjs_product {
	clear: both;
	background-color: #eee;
	padding: 20px;
	/* 导航项样式的修改 */
	.nav-tabs {
		li {
			margin-bottom: 0px;
			padding: 0 15px;
			a {
				line-height: 50px;
				border-radius: 0px;
				border: none;
			}
			a:hover {
				border-bottom: 3px solid @baseColor;
			}
			&.active {
				a, a:hover, a:focus {
					border: none;
					border-radius: 0px;
					background-color: transparent;
					border-bottom: 3px solid @baseColor;
				}
			}
		}
	}
	/* 产品详细信息块样式 */
	.wjs_pBox {
		height: 150px;
		margin-top: 20px;
		background-color: #fff;
		position: relative;
		.wjs_pLeft {
			margin-right: 100px;
			height: 150px;
			padding-top: 10px;
			> p {
				width: 100%;
				text-align: center;
				font-size: 16px;
			}
			.row {
				margin-left: -10px;
				margin-right: -10px;
				font-size: 12px;
				/* 2n && even都表示偶数行 */
				> div:nth-of-type(2n) {
					text-align: right;
				}
			}
		}
		.wjs_pRight {
			width: 100px;
			height: 150px;
			position: absolute;
			top: 0;
			right: 0;
			border-left: 1px dashed #ccc;
			text-align: center;
			padding-top: 30px;
			.wjs_tip {
				width: 100%;
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				span {
					cursor: pointer;
				}
				span:first-of-type {
					color: red;
					border: 1px solid red;
					// border-radius: 4px;
				}
				span:last-of-type {
					color: blue;
					border: 1px solid blue;
					// border-radius: 4px;
				}
			}
			> b {
				font-size: 40px;
				color: @baseColor;
			}
			> sub {
				bottom: 0;
				color: @baseColor;
			}
			&::before, &::after {
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: #eee;
				position: absolute;
				left: -5px;
			}
			&::before {
				top: -5px;
				box-shadow: 0px -1px 1px #ddd inset;
			}
			&::after {
				bottom: -5px;
				box-shadow: 0px 1px 1px #ddd inset;
			}
		}
		/* 设置当前active样式 */
		&.active {
			background-color: @baseColor;
			.wjs_pRight {
				b, sub, p {
					color: #fff;
				}
			}
			.wjs_pLeft {
				color: #fff;
				position: relative;
				/* 使用伪元素添加左上角的标记 */
				&::before {
					content: "\E915";
					/* 一定要记得设置字体 */
					font-family: "wjs";
					position: absolute;
					top: -6px;
					left: 0;
					font-size: 28px;
				}
			}
		}
	}
}